{% load bootstrap4 %}
{% bootstrap_messages %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src=" https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <script
        src=" https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/3.6.95/css/materialdesignicons.css"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark danger-color">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="team_schedule">Team Schedule</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="new_team"> Create Team
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="profile">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="team_rankings">Rankings</a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="#">My Team</a>
                </li>            </ul>
            </li> -->
            </ul>
            <!-- Links -->
            <form class="form-inline">
                <div class="md-form my-0">
                    <a class="form-control mr-sm-2 btn-outline-light" href="#">Logout</a>
                </div>
            </form>
        </div>
    </nav>
    <!--/.Navbar-->
    <h1 class=" col-12 title text-center">Welcome to the Playbook Sports, {{user.first_name}}</h1>
    <div class="container">
        <div class=" container-fluid">
            <h4 class="title">Your Teams</h4>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Team Name</th>
                            <th>Sport</th>
                            <th>E-mail</th>
                            <th>Edit / Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in user_teams %}

                        <tr>
                            <td>{{team.captain.first_name}} {{team.captain.last_name}} </td>
                            <td>{{team.team_name}}</td>
                            <td>{{team.team_sport}}</td>
                            <td>{{team.captain.email}}</td>
                            <td>{% if team.captain.id == user.id  %}
                                <a class="btn btn-sm btn-outline-light " href="/edit_team">Edit</a> {% endif %}
                                {% for join_team in joined_teams %}    
                                    {% if join_team.id == team.id %} 
                                        <a class="btn btn-sm btn-outline-light " href="/{{team.id}}/remove">Remove</a>
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>{% endfor %} 
                    </tbody>
                </table>
        </div> <!--end float container-->
        <br>
        <div class=" container-fluid">
            <h4 class="title">Teams to Join</h4>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Team Name</th>
                        <th>Sport</th>
                        <th>E-mail</th>
                        <th>Join Team</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in other_teams %}
                    <tr>
                        <td>{{team.captain.first_name}} {{team.captain.last_name}} </td>
                        <td>{{team.team_name}}</td>
                        <td>{{team.team_sport}}</td>
                        <td>{{team.captain.email}}</td>
                        <td><a class="form-control btn-outline-light " href="/{{team.id}}/join">Join Team</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div> <!--end float container-->

    </div> <!--end main container-->

</body>