<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
</head>

<body>
    <div>
        <a href="#">Home</a>
        <a href="#">Logout</a>

        <h1>Update Profile</h1>

        <form action="#" method="POST">
            <!-- {% csrf_token %} -->

            <p>Name: <input type="text" name="name"></p>

            <p>Email: <input type="text" name="email"></p>

            <p>Profile Picture: <input type="text" name="coach_captain"></p>

            <p>Team Name: <input type="file" name="profile_picture"></p>

            <button type="submit">Update</button>
        </form>

    </div>
</body>

</html>