<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Update Profile</title>
</head>

<body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="/home">Home</a>
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Team Schedule
                        <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rankings</a>
                </li>
                <!-- <li class="nav-item">
                                <a class="nav-link" href="#">My Team</a>
                            </li> -->
            </ul>
            <!-- Links -->
            <form class="form-inline">
                {% csrf_token %}
                <div class="md-form my-0">
                    <a class="form-control mr-sm-2 btn-outline-light" href="/logout">Logout</a>
                </div>
            </form>
        </div>
    </nav>

    <div class="container text-center">
        <div class='container-fluid'>
            <h1 class=" header">Update Profile</h1>
            <form class="form-group" action="/{{ user.id }}/edit_account" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" type="text" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input name="updated_password" type="password" class="form-control input-lg"
                            placeholder="Enter Password" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="file" name="profile_pic">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-outline-light" type="submit">Update</button>
                    </div>
                </fieldset>
            </form>
        </div>
        <!--end container-fluid-->
    </div>
    <!--end of container-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>