<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Team</title>
</head>

<body>
    <div>
        <a href="#">Home</a>
        <a href="#">Logout</a>

        <h1>Update Team</h1>

        <form action="#" method="POST">
            <!-- {% csrf_token %} -->

            <p>Team Name: <input type="text" name="team_name"></p>

            <p>Team Sport: <input type="text" name="team_sport"></p>

            <p>Coach/Captain: <input type="text" name="coach_captain"></p>

            <p>Team Logo: <input type="file" name="team_logo"></p>

            <button type="submit">Update</button>
        </form>

    </div>
</body>

</html>