  body{
    background-color: rgb(59, 58, 58);
    background-image: url(../css/img/soccer.jpg);
    background-size: cover;
  }
  *{
    font-family:Roboto;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
  }


  .container-fluid {box-shadow: inset 0 0 10px 10px #6d0307;
    background-color: rgb(43, 41, 41);
    padding:50px;
    width: 1200px;}
  .title{
    color:#ffffff;
    font-family: roboto;
    weight:300;
}
.container {
  text-align: center;
  width: 960px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}
