body{
background-color: rgb(59, 58, 58);
background-image: url(../css/img/soccerbk.jpg);
background-size: cover;
}
*{
/* font-family:Roboto; */
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box;
}


.container-fluid {box-shadow: inset 0 0 10px 10px #a80309;
padding:50px;
width: 1200px;
color: white;
}

.header{
color:#ffffff;
font-family: roboto;
height:300;
/* width: 1200px; */
text-align: center;
padding: 40px 50px;
}
.header-2{
    /* font-family: 'Abril Fatface', cursive; */
    color:#ffffff;
    font-family: roboto;
    height:300;
    /* width: 1200px; */
    text-align: center;
    padding: 40px;
    padding-bottom: 100px;
    }

.container {
text-align: center;
/* width: 960px; */
/* margin: 0 auto; */
padding: 100px;
position: relative;
}
