body{
    background-image: url(../css/img/background4.jpg);background-size: cover;
background-color: rgb(59, 56, 56);
}

.color-card{
    background:#171717;
}

.color-card-2{
    background:#171717;
}
.title{
    color:#ffffff;
    font-family: roboto;
    weight:300;
}


.user-info{
    color:#816f70;
    font-size:15px;
    weight:100;
    font-family:roboto;
} 

.desc{
    font-size:15px;
    margin-left: 65px;
    margin-right: 65px;
    color:#797272;
    text-align:center;
}
hr{
    border-color:#7C8097;
    width:90%;
    margin-top:24px;
    margin-bottom:24px;
}
/* .content{
    display:center;
} */

*{
    font-family:Roboto;
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
.top{
    margin-top:16px;
}
.color-a{
    background:#B90920 ;
    background: linear-gradient(to top right, #b41b1b, #886262);
    /* to edit button color */
}


.btn{
    border:none;
    height:40px;
    color:#5a1414;
    width:35%;
    font-size:16px;
    border-radius:30px;
    box-shadow: 0 13px 26px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}
.btn:hover{
    border:solid 1px rgb(117, 112, 112);
    height:40px;
    font-family: Roboto;
    color: #c5c2c4;
    background:#a36c6c;
    width:35%;
    border-color: linear-gradient(to top right, #794d4d, #886262);;
    border-radius:30px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.16);
}
.container {
    width: 960px;
    margin: 0 auto;
    padding: 0px;
    position: relative;
}

.container:after, .container:before {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-07,  .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-13, .grid-14, .grid-15, .grid-16, .grid-1-3 {
    float: left ;
    margin-left: 10px;
    margin-right: 10px;
}

.grid-1   {width: 40px;}
.grid-2   {width: 100px;}
.grid-3   {width: 160px;}
.grid-4   {width: 220px;}
.grid-5   {width: 280px;}
.grid-6   {width: 340px;}
.grid-07  {width:375px;}
.grid-7   {width: 400px;}
.grid-8   {width: 460px;}
.grid-9   {width: 520px;}
.grid-10  {width: 580px;}
.grid-11  {width: 640px;}
.grid-12  {width: 700px;}
.grid-13  {width: 760px;}
.grid-14  {width: 820px;}
.grid-15  {width: 880px;}
.grid-16  {width: 940px;}
.grid-1-3 {width: 300px;}



/* cards*/
body {
    text-align: center; 
}

.card {
    border-radius: 6px;

    display: inline-block;
    height: 667px;
    margin: 1rem;
    position: relative;
    width: 375px;
    box-shadow: 0 12px 13px rgba(0,0,0,0.16), 0 12px 13px rgba(0,0,0,0.16);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-elevation{
/*sombra*/
    -moz-box-shadow:                                                             7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    -webkit-box-shadow:                                                          7px 7px 5px 0px rgba(50, 50, 50, 0.25);
    box-shadow:                                                                  7px 7px 5px 0px rgba(50, 50, 50, 0.25);;
}

.profile{
    border-radius:100%;
    margin-top:60px;
    width:132px;
    height:128px;
} 

.center{
        display: block;
    margin-left: auto;
    margin-right: auto
}


.element-animation{
    animation: animationFrames ease 2s;
    animation-iteration-count: 2;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: animationFrames ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
}


@keyframes animationFrames{
    0% {
    opacity:0;
    transform:  translate(-1500px,0px)  ;
    }
    60% {
    opacity:1;
    transform:  translate(30px,0px)  ;
    }
    80% {
    transform:  translate(-10px,0px)  ;
    }
    100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
    opacity:0;
    -webkit-transform:  translate(-1500px,0px)  ;
    }
    60% {
    opacity:1;
    -webkit-transform:  translate(30px,0px)  ;
    }
    80% {
    -webkit-transform:  translate(-10px,0px)  ;
    }
    100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
    }