body{
    background-image: url(../css/img/teambackground2.jpg);background-size: cover;
background-color: #353535;
}
.container{
    padding:100px 50px;
    height: 700px;
    /* background-image: url(../css/img/hoopbackground.jpg);background-size: cover; */

}
.header{
    background-color: #6d1e1e;
    font-family: 'Spartan', sans-serif;    
    color: #f5f0f0;
    padding: 20px;
}

.container-fluid{
    box-shadow: inset 0 0 10px 10px #5d0c0c; padding:100px;width: 1200px;
    
}
